body {
     margin: 0;
     padding: 0;
     text-align: center;
}
.bg {
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 1;
     float: left;
     left: 0;
}
.content {
   width: 100%;
   height: auto;
   margin: 0 auto;
   position: relative;
   z-index: 5;
   padding: 30px;
   text-align: left;
}
.t1{
  text-shadow: 5px 7px 4px blue;
  font-weight: bold;
  color: white;
  font-size:30px;
}

.t2{
  text-shadow: 5px 7px 4px black;
  font-weight: bold;
  color: blue;
  font-size:55px;
  text-align: center;
  -webkit-text-stroke: 1px white;
  font-family: fantasy;
}

.t3{
  text-shadow: 5px 7px 4px blue;
  font-weight: bold;
  color: white;
  font-size:25px;
}

.h1{
  text-shadow: 5px 7px 4px blue;
  font-weight: bold;
  color: white;
  font-size:50px;
  text-align: center
}
